.container__banner2 {
  min-width: 28.4rem;
  height: auto;
  margin: 9rem auto 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.banner2__titulo {
  color: #040840;
  font-size: 2.2rem;
  font-weight: 700;
  width: 26.9rem;
  height: 5.8rem;
  line-height: normal;
  margin: 3rem auto 1.9rem;
}

.banner2__texto {
  color: #040840;
  font-size: 1.5rem;
  width: 27rem;
  height: 11rem;
  line-height: normal;
  margin-bottom: 2.7rem;
}

.banner2__btn-compra {
  padding: 1rem 0.7rem;
  border-radius: 35px;
  background: linear-gradient(156deg, #7068F4 0%, #77F5E5 100%);
  box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #040840;
  text-shadow: 2px 2px 20px #FFF;
  font-weight: 600;
  font-size: 1.5rem;
}