.container__bonus {
  min-width: 32rem;
  height: auto;
  background-image: url(/Assets/background-bonus.svg);
  background-size: cover;
  padding-bottom: 3rem;
}

.caixa__bonus-titulo {
  text-align: center;
  display: flex;
  justify-content: center;
}

.bonus__titulo {
  width: 29.2rem;
  height: 6.3rem;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Open Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 3.5rem 1.4rem 2.7rem 1.4rem;
}

.bonus__lista {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  width: 32rem;
  height: auto;
  margin: 2rem auto;
  padding: 0 1.5rem;

}

.bonus__card {
  background: #fff;
  text-align: center;
  width: 8.3rem;
  height: 11rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.bonus__texto {
  font-size: 1.1rem;
  font-weight: 700;
}

.bonus__texto1 {
  font-size: 1.15rem;
  font-weight: 700;
}

.caixa-button{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}


button {
  width: 21.4rem;
  height: 3.3rem;
  border-radius: 3.5rem;
  background: linear-gradient(156deg, #7068F4 0%, #77F5E5 100%);
  box-shadow: 10px 15px 25px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
 
}

button a {
  text-decoration: none;
  color: #040840;
  text-align: center;
  text-shadow: 10px 10px 25px rgba(255, 255, 255, 0.90);
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}