.background-pg4 {
  background-image: url(/Assets/background-materiais-gratuitos.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.container__video {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.video__titulo {
  width: 27.8rem;
  height: 8.1rem;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Open Sans';
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.video__caixa-layer {
  text-align: center;
  margin: 3.8rem 1.7rem 2.1rem 1.7rem;
  display: block;
  min-width: 32rem;
  height: auto;
}

.video__layer {
  width: 28.5rem;
  height: 16rem;
}

.container__cards {
  margin-bottom: 6.3rem;
}

.informacoes__titulo {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: normal;
  width: 26.2rem;
  height: 6.5rem;
  text-align: center;
  margin: 0 auto 1.3rem;
}

.informacoes__texto {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  width: 24.2rem;
  height: 6.1rem;
  margin: 0 auto 2.4rem;
}

.container__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.7rem;
  margin-bottom: 2.3rem;
}

.card__material {
  background: #fff;
  border-radius: 1.5rem;
  width: 11rem;
  height: 11rem;

  background: linear-gradient(white, white) padding-box, linear-gradient(160deg, #040840, #30B8F4 45% 100%) border-box;

  border: 3px solid transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #040840;
  padding: 0.5em 1.5em;
  cursor: pointer;
}

.card__material:hover{
  background: #fff;
  border-radius: 1.5rem;
  width: 11rem;
  height: 11rem;

  background: linear-gradient(#e6e6e6, #c6c6c6) padding-box, linear-gradient(160deg, #040840, #30B8F4 45% 100%) border-box;

  border: 3px solid transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #040840;
  padding: 0.5em 1.5em;
  cursor: pointer;
}

.img-check {
  display: block;
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 3rem;
}

.container__card p {
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 auto;
}


.container__cards-especiais {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding-bottom: 4rem;
}

.caixa__texto {
  padding: 4rem 4rem 0 0;
}

.cards-especiais__texto {
  width: 20rem;
  height: 17.9rem;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: flex-start;
}

.container__card a {
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 auto;
  color: #040840;
}

.card__material_new{
  background: #fff;
  border-radius: 1.5rem;
  width: 11rem;
  height: 11rem;

  background: linear-gradient(white, white) padding-box, linear-gradient(160deg, #040840, #30B8F4 45% 100%) border-box;

  border: 3px solid transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #040840;
  padding: 0.5em 1.5em;
  cursor: pointer;
}

.card__material_new:hover{
  background: #fff;
  border-radius: 1.5rem;
  width: 11rem;
  height: 11rem;

  background: linear-gradient(#4AB451, #4AB451) padding-box, linear-gradient(160deg, #040840, #30B8F4 45% 100%) border-box;

  border: 3px solid transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #040840;
  padding: 0.5em 1.5em;
  cursor: pointer;
}

.container__card a:hover {
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 auto;
  color: #fff;
}
